<h1>Product Lists</h1>
<hr />

<div class="row">
  @for(product of products; track product){
  <div class="col-sm-3 mt-2 mb-2">
    <div class="card" style="width: 18rem">
      <img
        class="card-img-top"
        src="{{ product.thumbnail }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text">
          <b>Brand: </b>{{ product.brand }} <br />
          <b>Category: </b>{{ product.category }} <br />
          <b>Rating: </b>{{ product.rating }} <br />
          <b>Discount: </b>{{ product.discountPercentage }} <br />
          <b>Stock: </b>{{ product.stock }} <br />
          <b>Price: </b>${{ product.price }} <br />
        </p>

        <a href="#" class="btn btn-primary">Buy Now</a>
      </div>
    </div>
  </div>

  }
</div>

<hr />
<hr />

<table class="table table-border table-hover">
  <caption></caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Discount</th>
      <th>Rating</th>
      <th>Stock</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Thumbnail</th>
      <th>Images</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let product of products">
    <tr>
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.discountPercentage }}</td>
      <td>{{ product.rating }}</td>
      <td>{{ product.stock }}</td>
      <td>{{ product.brand }}</td>
      <td>{{ product.category }}</td>
      <td><img src="{{ product.thumbnail }}" alt="" /></td>
      <td>
        <div id="images" *ngFor="let image of product.images">
          <img src="{{ image }}" alt="" />
        </div>
      </td>
      <td>
        <button class="btn" title="Edit">
          <i class="fa fa-pencil text-info"></i>
        </button>
        <button class="btn" title="Delete" (click)="deleteProduct(product.id)">
          <i class="fa fa-trash text-danger"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
